<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{user/layouts/head::head('Quên mật khẩu - Vietjet Air')}"></head>
<body class="auth-page">
<main>
    <th:block th:replace="~{user/layouts/header::header}"></th:block>
    <div class="auth-container">
        <h2>Quên mật khẩu</h2>
        <div th:if="${message}" class="alert alert-success" th:text="${message}"></div>
        <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
        <form th:action="@{/forgot-password}" method="post">
            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input type="email" id="email" name="email" class="form-control" required/>
            </div>
            <button type="submit" class="btn-custom" th:text="#{send_otp}">Gửi mã xác nhận</button>
        </form>
    </div>
    <th:block th:replace="~{user/layouts/footer::footer}"></th:block>
</main>
<th:block th:replace="~{user/layouts/script::script}"></th:block>
</body>
</html>
