<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{user/layouts/head::head('Xác thực đăng ký')}"></head>
<body class="auth-page">
<main>
    <th:block th:replace="~{user/layouts/header::header}"></th:block>
    <div class="auth-container">
        <h2 th:text="#{email_authentication}">Xác thực email</h2>
        <p th:text="#{sent_otp}">Chúng tôi đã gửi mã xác thực đến <strong th:text="${email}"></strong>.</p>
        <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
        <form th:action="@{/verify-registration}" method="post">
            <input type="hidden" name="email" th:value="${email}" />
            <div class="mb-3">
                <label for="otp" class="form-label" th:text="#{otp}">Mã xác thực:</label>
                <input type="text" id="otp" name="otp" class="form-control" required maxlength="6"/>
            </div>
            <button type="submit" class="btn-custom" th:text="#{confirm}">Xác thực</button>
        </form>
    </div>
    <th:block th:replace="~{user/layouts/footer::footer}"></th:block>
</main>
<th:block th:replace="~{user/layouts/script::script}"></th:block>
</body>
</html>
