<!DOCTYPE html>
<html lang="en">
<head th:replace="~{user/layouts/head::head ('Lịch sử thanh toán')}"></head>
<body>
    <th:block th:replace="~{user/layouts/header::header}"></th:block>
    <main id="content">
        <section class="section">
            <div class="mypage_block user_transfer_history">
                <nav class="mypage_nav">
                    <ul>
                        <li class="user_info"><a href="#">Thông tin cá nhân</a></li>
                        <li class="user_payment"><a href="/user/payment">Thanh toán</a></li>
                        <li class="user_transfer_history"><a href="#">Lịch sử giao dịch</a></li>
                        <li class="user_change_password"><a href="#">Đổi mật khẩu</a></li>
                    </ul>
                </nav>
                <section class="mypage_content">
                    <div class="table_scroll w-100">
                        <table class="table_style text-nowrap">
                            <tbody>
                                <tr>
                                    <th>Nơi đi</th>
                                    <th>Nơi đến</th>
                                    <th>Ngày đặt</th>
                                    <th>Ngày bay</th>
                                    <th>Giá</th>
                                    <th>Tình trạng</th>
                                </tr>
                                <tr th:if="${list.isEmpty()}">
                                    <td colspan="6">Không tìm thấy dữ liệu</td>
                                </tr>
                                <tr th:each="booking : ${list}">
                                    <td th:text="${booking.flight.departureAirport.city}"></td>
                                    <td th:text="${booking.returnFlight != null ? booking.returnFlight.departureAirport.city : 'Không'}"></td>
                                    <td th:text="${#temporals.format(booking.createdAt, 'dd/MM/yyyy')}">15/05/2025</td>
                                    <td th:text="${#temporals.format(booking.flight.departure_time, 'dd/MM/yyyy')}">25/05/2025</td>
                                    <td th:text="${booking.totalPrice}"></td>
                                    <td th:switch="${booking.status}">
                                        <span th:case="1">Chờ thanh toán</span>
                                        <span th:case="2">Đã thanh toán</span>
                                        <span th:case="3">Hủy</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div><!-- .mypage_block END -->
        </section>
    </main>
    <th:block th:replace="~{user/layouts/footer::footer}"></th:block>
    <th:block th:replace="~{user/layouts/script::script}"></th:block>
</body>

</html>