<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head th:replace="~{user/layouts/head::head ('Cảm ơn đánh giá')}"></head>
<body class="bg-light">
<th:block th:replace="~{user/layouts/header::header}"></th:block>
<div class="main-content">
    <div class="container border">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="card shadow text-center">
                    <div class="card-body p-5">
                        <div class="success-icon mb-4">
                            ✅
                        </div>
                        <h3 class="mb-3">Cảm ơn bạn đã đánh giá!</h3>
                        <p class="text-muted mb-4">
                            Chúng tôi đã ghi nhận phản hồi của bạn và sẽ sử dụng để cải thiện chất lượng dịch vụ trong tương lai.<br/>
                        </p>

                        <p class="text-muted mb-4">
                            Chúng tôi mong rằng có thể tiếp tục đồng hành cùng với bạn trong những chuyến bay sắp tới.
                        </p>

                        <a href="/" class="btn btn-outline-warning">Quay về trang chủ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="~{user/layouts/footer::footer}"></th:block>
<th:block th:replace="~{user/layouts/script::script}"></th:block>
</body>
</html>
