<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head th:replace="~{user/layouts/head::head ('Thông tin đặt vé')}"></head>
<body>
<!--Header-->
<th:block th:replace="~{user/layouts/header::header}"></th:block>
<main class="content">
    <div class="col-12">
        <div class="row p-5">
            <div class="col-sm-10 col-md-9">
                <div class="row">
                    <div class="col-sm-8 col-md-5 pe-md-4" style="border-right: 1px solid #222222">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <span class="fw-bold" th:text="${flight.departureAirport.city}"></span>
                            <span style="border: 1px dotted #222222; height: 1px" class="w-50">&nbsp;</span>
                            <i class="fa-solid fa-plane"></i>
                            <span class="fw-bold" th:text="${flight.arrivalAirport.city}"></span>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <div th:text="${flight.departureAirport.name}"></div>
                            <div th:text="${flight.arrivalAirport.name}"></div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-2 ps-4 fw-bold">
                        <div class="d-flex align-items-center mb-3">
                            <span th:text="${textFlight}"></span>
                        </div>
                        <div class="d-flex align-items-center">
                            <div th:text="${#temporals.format(flight.departure_time, 'HH:mm, dd/MM/yyyy')}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 text-end">
                <button type="button" class="btn btn-detail h-100" data-form_id="#form_select_seat" id="btnSaveSeat">Xác Nhận</button>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="col-12">
            <form method="post" action="/api/flight-seat/select" id="form_select_seat">
                <input type="hidden" name="key" th:value="${key}" />
                <input type="hidden" name="noFlight" th:value="${noFlight}">
                <input type="hidden" name="flightId" th:value="${flightId}">
                <div class="row py-4">
                    <th:block th:each="item, stat : ${dataBooking.items}">
                        <div class="col-4 mb-3" th:if="${item.customerType != 3}">
                            <div class="row align-items-center">
                                <div class="col-5 px-0">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input border-dark" th:data-index="${stat.index}" type="radio" name="check_seat" th:id="'radio' +  ${stat.index}" th:checked="${stat.index == 0}">
                                        <label class="form-check-label" th:id="'name' + ${stat.index}" th:for="'radio' +  ${stat.index}" th:text="${item.fullName}"></label>
                                    </div>
                                </div>
                                <div class="col-2 customer-seat" th:classappend="${stat.index == 0 ? 'selected-seat' : ''}">
                                    -
                                </div>
                                <input type="hidden" class="seat-selection" th:data-index="${stat.index}" th:name="'seat' + ${stat.index}" />
                            </div>
                        </div>
                    </th:block>
                </div>
            </form>
            <div class="row mt-3">
                <div class="col-12 col-lg-3 pe-0">
                    <!-- Legend -->
                    <div class="legend">
                        <div class="bg-danger p-3 w-100 text-center" style="border-top-left-radius: 12px; border-top-right-radius: 12px;">
                            <h5 class="text-white">Chú thích sơ đồ chỗ ngồi</h5>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="seat seat-available"></div>
                            <span class="ps-2">Ghế trống</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="seat seat-booked"></div>
                            <span class="ps-2">Đã đặt</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="seat seat-selected"></div>
                            <span class="ps-2">Đang chọn</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-9 ps-0">
                    <!-- Seat map -->
                    <div class="seat-map-container bg-secondary">
                        <div id="seat-map" class="bg-white mx-5">
                            <div class="col-12 col-md-10 col-xl-9 pb-3 mx-auto">
                                <div class="row align-items-center">
                                    <th:block th:each="seat, iStat : ${seats}">
                                        <th:block th:with="flightSeat=${seatMap.get(seat.seatNumber) != null ? seatMap.get(seat.seatNumber).get(seat.seatAlphabet) : null}">
                                            <div th:if="${flightSeat != null && flightSeat.status != 3}"
                                                 th:class="'col-1 seat ' + (${flightSeat.status == 2} ? 'seat-booked' : 'seat-available')"
                                                 th:id="'flight_seat_' + ${flightSeat.id}"
                                                 th:data-id="${flightSeat.id}">
                                                <span th:text="${seat.seatAlphabet + seat.seatNumber}"></span>
                                            </div>
                                            <div th:if="${flightSeat == null || (flightSeat != null && flightSeat.status == 3)}" th:id="'flight_seat_' + ${flightSeat.id}" class="col-1 seat seat-not-found" th:data-id="${flightSeat.id}"></div>
                                        </th:block>
                                        <div th:if="${seat.seatAlphabet == 'C'}" class="col-1"></div>
                                    </th:block>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<div class="modal fade" id="modalResult" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thông báo</h4>
            </div>
            <div class="modal-body">
                <p>Vui lòng thực hiện thanh toán để hoàn tất việc đặt vé.</p>
                <p>
                    <b>Lưu ý: Nếu bạn không thực hiện thanh toán trong vòng 30 phút thì hệ thống sẽ tự động hủy bỏ đặt vé của quý khách</b>
                </p>
            </div>
            <div class="modal-footer">
                <a role="button" class="btn btn-primary link-seat-select" href="#">Tiếp tục</a>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="~{user/layouts/footer::footer}"></th:block>
<th:block th:replace="~{user/layouts/script::script}"></th:block>
<script>
    const FLIGHT_ID = $("input[name='flightId']").val();
    var pusher = new Pusher('d53316a74ae925d2b200', {
        cluster: 'ap1'
    });
    var channel = pusher.subscribe('flight.' + FLIGHT_ID);
    var clicked = 0;
    $(document).on('click', '.seat-available', function () {
        let element = $(this);
        let values = [];
        let selectedIndex = $('input[type="radio"]:checked').data("index");
        $('.seat-selection').map(function(index, el) {
            if (index != selectedIndex) {
                let id = el.value;
                values.push(id);
            }
        }).get();

        let seatId = $(this).data('id');
        if (!values.includes(seatId)) {
            if (element.hasClass('seat-selected')) {
                $("input[name='seat"+selectedIndex+"']").val('');
                $("input[name='seat"+selectedIndex+"']").siblings('.customer-seat').text('-')
                element.removeClass('seat-selected');
            } else {
                let seatSelect = $('input[name="seat' + selectedIndex + '"]').val();
                if (seatSelect != "undefined") {
                    $('.seat-available[data-id="'+seatSelect+'"]').removeClass("seat-selected");
                }
                $("input[name='seat"+selectedIndex+"']").val(seatId);
                $("input[name='seat"+selectedIndex+"']").siblings('.customer-seat').text(element.find('span').text());
                element.addClass('seat-selected');
            }
        }
    });

    $(document).on('change', 'input[type="radio"]', function () {
        let element = $(this);
        let customer_seat = element.parent().parent().siblings('.customer-seat');
        $('.customer-seat').removeClass('selected-seat');
        if (!customer_seat.hasClass('selected-seat')) {
            customer_seat.addClass('selected-seat')
        }
    });

    $(document).on('click', '#btnSaveSeat', function () {
        clicked++;
        let formId = $(this).data("form_id");
        $.ajax({
            method: $(formId).attr('method'),
            url: $(formId).attr('action'),
            data: $(formId).serialize(),
            dataType: 'json'
        }).done(function (data) {
            if (data.url) {
                window.location.href = data.url
            } else {
                $("#modalResult .link-seat-select").attr("href", "/payment");
                $("#modalResult").modal("show");
                setTimeout(function () {
                    window.location.href = "/payment";
                }, 9000)
            }
        }).fail(function (jqXhr, json, errorThrown) {
            if (jqXhr.responseJSON.errors) {
                alert(jqXhr.responseJSON.message);
                clicked = 0;
            }
        });
    });
    channel.unbind();
    channel.bind('seat-occupied', function (data) {
        let flightSeat = JSON.parse(data);
        let id = flightSeat.id;
        let seat = $("#flight_seat_" + id);
        if (seat.hasClass("seat-selected")) {
            seat.removeClass("seat-selected");
        }
        if (seat.hasClass("seat-available")) {
            seat.removeClass("seat-available");
        }
        if (!seat.hasClass("seat-booked")) {
            seat.addClass("seat-booked");
        }
        $('.seat-selection').each(function() {
            let el = $(this);
            if (parseInt(el.val()) == id && clicked == 0) {
                el.val("");
                el.siblings(".customer-seat").text("-");
                alert("Ghế " + seat.find("span").text() + " đã được đặt chỗ. Quý khách vui lòng chọn ghế khác");
                return false;
            }
        });
    });
    channel.bind('seat-unoccupied', function (data) {
        let flightSeat = JSON.parse(data);
        let id = flightSeat.id;
        let seat = $("#flight_seat_" + id);
        if (seat.hasClass("seat-booked")) {
            seat.removeClass("seat-booked");
        }

        if (!seat.hasClass("seat-available")) {
            seat.addClass("seat-available");
        }
    });

    channel.bind('seat-deleted', function (data) {
        removeSeat(data);
    });

    channel.bind('seat-edited', function (data) {
        let flightSeat = JSON.parse(data);
        if (flightSeat.status == 3) {
            removeSeat(data)
        }

        if (flightSeat.status == 1) {
            addSeat(data);
        }
    });

    channel.bind('seat-created', function (data) {
        addSeat(data);
    });

    function addSeat(data) {
        let flightSeat = JSON.parse(data);
        let id = flightSeat.id;
        let seat = $("#flight_seat_" + id);
        let div = `<div class="col-1 seat seat-available"
                             id="flight_seat_${id}"
                             data-id="${id}">
                            <span>${flightSeat.seat.col.alphabet + flightSeat.seat.row.number}</span>
                        </div>`;
        seat.replaceWith(div);
    }

    function removeSeat(data) {
        let flightSeat = JSON.parse(data);
        let id = flightSeat.id;
        let seat = $("#flight_seat_" + id);
        let div = '<div id="flight_seat_'+id+'" class="col-1 seat seat-not-found" data-id="'+data.id+'"></div>';
        seat.replaceWith(div);
        $('.seat-selection').each(function() {
            let el = $(this);
            if (parseInt(el.val()) == id) {
                el.val("");
                el.siblings(".customer-seat").text("-");
                alert("Ghế " + flightSeat.seat.col.alphabet + flightSeat.seat.row.number + " không còn khả dụng. Quý khách vui lòng chọn ghế khác");
                return false;
            }
        });
    }
</script>
</body>

</html>
