<th:block th:fragment="data-flight">
    <div>
        <table class="table table-borderless table-nowrap">
        <thead>
        <tr>
        <th><span th:text="${departure + ' '}"></span> <i class="fa-solid fa-plane"></i> <span th:text="${' ' + arrival}"></span></th>
        <th colspan="3"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td th:text="${departure}"></td>
        <td th:text="${arrival}"></td>
        <td colspan="2" th:text="${flight.airlineName}"></td>
        </tr>
        <tr>
        <td class="fw-bold" th:text="${#temporals.format(flight.departureTime, 'HH:mm, dd/MM/yyyy')}"></td>
        <td class="fw-bold" th:text="${#temporals.format(flight.arrivalTime, 'HH:mm, dd/MM/yyyy')}"></td>
        <td colspan="2" th:text="#{flight} + ${flight.flightCode}"></td>
        </tr>
        <tr>
        <td th:text="${flight.departureAirportCity}"></td>
        <td th:text="${flight.arrivalAirportCity}"></td>
        <td colspan="2" th:text="#{ticket_type}+ ': ' +#{economy} ">Loại vé: Phổ thông</td>
        </tr>
        </tbody>
        </table>
        <table class="table table-bordered border-black table-nowrap mt-3">
        <thead class="fw-bold">
        <tr class="text-center">
            <td th:text="#{customer_type}">Loại khách hàng</td>
            <td th:text="#{price_per_ticket}">Giá mỗi vé</td>
            <td th:text="#{tax_and_fee}">Thuế & Phí</td>
            <td th:text="#{total_price}">Tổng giá</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="#{adult} +','+ #{child}">Người lớn, trẻ em</td>
            <td class="text-end" th:text="${flight.price} + ' VNĐ'"></td>
            <td class="text-end">0 VNĐ</td>
            <td class="text-end" th:text="${flight.price} + ' VNĐ'" ></td>
        </tr>
        <tr>
            <td th:text="#{baby}">Em bé</td>
            <td class="text-end">100,000 VNĐ</td>
            <td class="text-end">0 VNĐ</td>
            <td class="text-end">100,000 VNĐ</td>
        </tr>
        </tbody>
        </table>
        <table class="table table-bordered border-black mt-3">
        <thead class="fw-bold">
        <tr>
            <td colspan="2" th:text="#{baggage_condition}">Điều kiện hành lý</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="#{cabin_baggage}">Hành lý xách tay</td>
            <td>10 kg</td>
        </tr>
        </tbody>
        </table>
    </div>
</th:block>