<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.w3.org/1999/html">
<head th:replace="~{user/layouts/head::head ('Vietjet Air | Bay là thích ngay | Website chính thức')}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<!-- Main Content -->
<main class="py-0">
    <!--Header-->
    <th:block th:replace="~{user/layouts/header::header}"></th:block>
<!--    <nav class="navbar navbar-expand-lg bg-dark nav-sub">-->
<!--        <div class="container">-->
<!--            <div class="collapse navbar-collapse" id="navbarNav">-->
<!--                <ul class="navbar-nav">-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link active" href="#">Trang chủ</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="#">Tin khuyến mãi</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link disabled">Giới thiệu</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link disabled">Quy định hành lý</a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--                <ul class="navbar-nav ms-auto">-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="#">User</a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--    </nav>-->
    <div class="container">
        <div class="container-fluid mt-4">
            <div class="row">
                <!-- Nội dung chính -->
                <div class="col-lg-9">
                    <div class="col-12 content" th:if="${flightReq.type.equals('ROUND-TRIP')}">
                        <div class="d-flex flex-column justify-content-center mb-3 gap-2">
                        <h2 style="font-weight: 700; font-size: 24px;">Chọn vé cho chiều đi</h2>
                        <p>Danh sách chuyến bay từ: <span th:text="${departure  + ' '}"></span> <i class="fa-solid fa-plane"></i> <span th:text="${' ' + arrival}"></span></p>
                            <div class="d-flex gap-1">
                                <p th:text="${dayOfWeekDeparture} + ', '"></p>
                                <p th:text=" ${departureTime}"></p>
                            </div>
                        </div>
                        <!-- Danh sách chuyến bay -->
                        <table id="table1" class="table_style_data table table-bordered">
                            <thead class="tb-head">
                            <tr>
                                <th>Hãng</th>
                                <th>Mã chuyến bay</th>
                                <th>Giờ đi</th>
                                <th>Giá (VND)</th>
                                <th>Chi tiết</th>
                                <th>Đặt vé</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="flight : ${listDeparture}" >
                                <td th:text="${flight.airlineName}"></td>
                                <td th:text="${flight.flightCode}"></td>
                                <td th:text="${flight.departureTime.toLocalTime()} + ' - ' + ${flight.arrivalTime.toLocalTime()}  "></td>
                                <td th:text="${flight.price}"></td>
                                <td>
                                    <button class="btn btn-detail btn-data-flight" th:data-id="${flight.id}">
                                        Chi Tiết
                                    </button>
                                </td>
                                <td>
                                    <input type="radio" th:id="'departure-' + ${flight.flightCode}" class="radio-depart" name="flightChoiceDeparture" th:value="${flight.id}">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="d-flex flex-column justify-content-center mb-3 gap-2">
                        <h2 style="font-weight: 700; font-size: 24px;">Chọn vé cho chiều về</h2>
                        <p>Danh sách chuyến bay từ: <span th:text="${arrival + ' '}"> </span><i class="fa-solid fa-plane"></i><span th:text="${' ' + departure}"></span> </p>
                            <div class="d-flex gap-1">
                                <p th:text="${dayOfWeekArrival} + ', '"></p>
                                <p th:text=" ${arrivalTime}"></p>
                            </div>
                        </div>

                        <!-- Danh sách chuyến bay -->
                        <table id="table2" class="table_style_data table table-bordered ">
                            <thead class="tb-head">
                            <tr>
                                <th>Hãng</th>
                                <th>Mã chuyến bay</th>
                                <th>Giờ đi</th>
                                <th>Giá (VND)</th>
                                <th>Chi tiết</th>
                                <th>Đặt vé</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="flight : ${listArrival}" >
                                <td th:text="${flight.airlineName}"></td>
                                <td th:text="${flight.flightCode}"></td>
                                <td th:text="${flight.departureTime.toLocalTime()} + ' - ' + ${flight.arrivalTime.toLocalTime()}  "></td>
                                <td th:text="${flight.price}"></td>
                                <td>
                                    <button class="btn btn-detail btn-data-flight" th:data-id="${flight.id}">
                                        Chi Tiết
                                    </button>
                                </td>
                                <td>
                                    <input type="radio" th:id="'arrival-' + ${flight.flightCode}" class="radio-arrival" name="flightChoice" th:value="${flight.id}">
                                </td>
                            </tr>
                            </tbody>
                        </table>
    <!--                    <button id="btnConfirm" class="btn btn-detail">Xác nhận</button>-->
                    </div>

                    <div class="col-12 content " th:if="${flightReq.type.equals('ONEWAY')}">
                        <div class="d-flex flex-column justify-content-center mb-3 gap-2">
                        <h2 style="font-weight: 700; font-size: 24px;">Chọn vé cho chiều đi</h2>
                        <p>Danh sách chuyến bay từ: <span th:text="${departure} + ' '"> </span><i class="fa-solid fa-plane"></i><span th:text="${' ' + arrival}"></span> </p>
                            <div class="d-flex gap-1">
                                <p th:text="${dayOfWeekDeparture} + ', '"></p>
                                <p th:text=" ${departureTime}"></p>
                            </div>
                        </div>
                        <!-- Danh sách chuyến bay -->
                        <table id="table3" class="table_style_data table table-bordered ">
                            <thead class="tb-head">
                            <tr>
                                <th>Hãng</th>
                                <th>Mã chuyến bay</th>
                                <th>Giờ đi</th>
                                <th>Giá (VND)</th>
                                <th>Chi tiết</th>
                                <th>Đặt vé</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="flight : ${listDeparture}" >
                                <td th:text="${flight.airlineName}"></td>
                                <td th:text="${flight.flightCode}"></td>
                                <td th:text="${flight.departureTime.toLocalTime()} + ' - ' + ${flight.arrivalTime.toLocalTime()}  "></td>
                                <td th:text="${flight.price}"></td>
                                <td>
                                    <button class="btn btn-detail btn-data-flight" th:data-id="${flight.id}">
                                        Chi Tiết
                                    </button>
                                </td>
                                <td>
                                    <input type="radio" th:id="'departure-' + ${flight.flightCode}" class="radio-depart" name="flightChoiceArrival" th:value="${flight.id}">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-12">
                        <button type="button" class="btn btn-detail" id="btnConfirm">Xác nhận</button>
                    </div>
                </div>
                <div class="col-lg-3 h-50">
                    <form id="searchForm" th:action="@{/user/select-flight}" th:object="${flightReq}" class="sidebar" style="border: 1px solid black; height: 50%; margin-top: 95px;" method="GET">
                        <h4 style="font-weight: 600; font-size:24px;">Sắp xếp</h4>
                        <div class="sort-box">
                            <label><input checked type="radio" name="sortProperty" value="price"> Đề xuất</label><br>
                            <label><input type="radio" name="sortProperty" th:field="*{sortProperty}" value="price"> Giá (Thấp đến cao) </label><br>
                            <label><input type="radio" name="sortProperty" th:field="*{sortProperty}" value="departure_time"> Thời gian khởi hành </label><br>
                            <label><input type="radio" name="sortProperty" th:field="*{sortProperty}" value="airline"> Hãng hàng không </label><br>
                        </div>
                        <div class="search-box">
                            <h4 style="font-weight: 500;">Tìm chuyến bay</h4>
                            <div class="d-flex sort-box gap-3 justify-content-center">
                                <label><input checked id="round-trip" type="radio" name="type" th:field="*{type}" value="ROUND-TRIP"> Khứ hồi</label><br>
                                <label><input id="one-way" type="radio" name="type" th:field="*{type}" value="ONEWAY">Một chiều</label><br>
                            </div>
                            <div>
    
    <!--                            Điểm đi-->
                                <div class="mb-3">
                                    <label for="departure-area" class="form-label">Điểm đi</label>
                                    <input required class="form-control" list="departure-area" id="departure" placeholder="Điểm khởi hành" name="departureAirport" th:field="*{departureAirport}" />
                                    <datalist id="departure-area" class="w-100">
                                        <option th:each="item: ${listAirports}" th:value="${item.name}" th:text="'Sân bay ' + ${item.city}">
                                    </datalist>
                                </div>
    
                                <!-- Ngày đi-->
                                <div class="mb-3">
                                    <label for="departure-date" class="form-label">Ngày đi</label>
                                    <input required type="date" id="departure-date" class="form-control" name="departureTime">
                                </div>
    
    <!--                            Điểm đến-->
                                <div  class="destination-round-trip mb-3">
                                    <label for="arrival" class="form-label">Điểm đến</label>
                                    <input required id="arrival" class="form-control" list="destination-area" placeholder="Điểm đến" name="arrivalAirport" th:field="*{arrivalAirport}"/>
                                    <datalist id="destination-area" class="w-100">
                                        <option th:each="item: ${listAirports}" th:value="${item.name}" th:text="'Sân bay ' + ${item.city}">
                                    </datalist>
                                </div>
    
    <!--                            Điểm đến cho 1 chiều-->
                                <div class="destination-one-way mb-3">
                                    <label for="arrival" class="form-label">Điểm đến</label>
                                    <input required class="des-one-way form-control" list="destination-area" placeholder="Điểm đến" name="arrivalAirportOneWay" th:field="*{arrivalAirportOneWay}"/>
                                    <datalist id="destination-area-ow" class="w-100">
                                        <option th:each="item: ${listAirports}" th:value="${item.name}" th:text="'Sân bay ' + ${item.city}">
                                    </datalist>
                                </div>
    
    
                                <!--                            Ngày về-->
                                <div id="arrival-option" class="destination-round-trip destination-one-way d-block mb-3">
                                    <label for="arrival-date" class="form-label">Ngày về</label>
                                    <input required type="date" id="arrival-date" class="form-control" name="arrivalTime" th:field="*{arrivalTime}">
                                </div>

    
<!--                                <div class="mb-3 row">-->
<!--                                    <div class="col-md-4">-->
<!--                                        <label for="adults" class="form-label">Người lớn</label>-->
<!--    &lt;!&ndash;                                    <input readonly id="adults" class="form-control" name="numberPassengers">&ndash;&gt;-->
<!--                                        <span id="adults" class="form-control"></span>-->
<!--                                    </div>-->
<!--                                    <div class="col-md-4">-->
<!--                                        <label for="child" class="form-label">Trẻ em</label>-->
<!--    &lt;!&ndash;                                    <input readonly id="child" class="form-control" name="numberPassengers">&ndash;&gt;-->
<!--                                        <span  id="child" class="form-control"></span>-->
<!--                                    </div>-->
<!--                                    <div class="col-md-4">-->
<!--                                        <label for="infant" class="form-label">Em bé</label>-->
<!--    &lt;!&ndash;                                    <input readonly id="infant" class="form-control" name="numberPassengers">&ndash;&gt;-->
<!--                                        <span  id="infant" class="form-control"></span>-->
<!--                                    </div>-->
<!--                                </div>-->

                                <div class="mb-3 row">
                                    <div class="dropdown input-group">
                                        <input required type="text" class="form-control dropdown-toggle" id="passengers" placeholder="Chọn số hành khách" readonly data-bs-toggle="dropdown" name="numberPassengers"/>
                                        <ul class="dropdown-menu" id="dropdownMenu">
                                            <li class="mb-3 d-flex justify-content-between align-items-center">
                                                <span>Người lớn</span>
                                                <div>
                                                    <button class="btn btn-outline-secondary btn-sm" onclick="changeCount(event, 'adults', -1)">-</button>
                                                    <span id="adults" class="count">1</span>
                                                    <button class="btn btn-outline-secondary btn-sm" onclick="changeCount(event, 'adults', 1)">+</button>
                                                </div>
                                            </li>
                                            <li class="mb-3 d-flex justify-content-between align-items-center">
                                                <span>Trẻ em (2-11 tuổi)</span>
                                                <div>
                                                    <button class="btn btn-outline-secondary btn-sm" onclick="changeCount(event, 'child', -1)">-</button>
                                                    <span id="child" class="count">0</span>
                                                    <button class="btn btn-outline-secondary btn-sm" onclick="changeCount(event, 'child', 1)">+</button>
                                                </div>
                                            </li>
                                            <li class="mb-3 d-flex justify-content-between align-items-center">
                                                <span>Em bé (<2 tuổi)</span>
                                                <div>
                                                    <button class="btn btn-outline-secondary btn-sm" onclick="changeCount(event, 'infant', -1)">-</button>
                                                    <span id="infant" class="count">0</span>
                                                    <button class="btn btn-outline-secondary btn-sm" onclick="changeCount(event, 'infant', 1)">+</button>
                                                </div>
                                            </li>
                                            <li><button class="btn btn-custom w-100"  onclick="submitForm(event)">Xác nhận</button></li>
                                        </ul>
                                    </div>
                                </div>
                                <button onclick="submitFormSearch(event)"  type="submit" class="btn btn-detail w-100">Tìm chuyến bay</button>
                            </div>
                        </div>
                    </form>
                </div>

                
                <input type="hidden" name="num_of_adult" value="2" />
                <input type="hidden" name="num_of_child" value="0" />
                <input type="hidden" name="num_of_baby" value="2" />
                <input type="hidden" name="flight_type" th:value="${flightReq.type}">
            </div>
        </div>
    </div>
</main>

<div class="modal fade"  id="detailModal" tabindex="-1" aria-labelledby="detailModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailModalLabel_arrival">Chi tiết loại vé</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<!--modal chi tiết đặt vé-->
<div class="modal fade" id="flightDetailsModal" tabindex="-1" aria-labelledby="flightDetailsModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="flightDetailsModalLabel">Chi Tiết Đặt Vé</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" id="btnBooking" class="btn btn-primary">Chọn</button>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<th:block th:insert="~{user/layouts/modal_success::modalSuccess}"></th:block>
<th:block th:insert="~{user/layouts/modal_error::modalError}"></th:block>
<th:block th:replace="~{user/layouts/footer::footer}"></th:block>

<!--</main>-->
<th:block th:replace="~{user/layouts/script::script}"></th:block>
</body>

</html>