<th:block th:fragment="selectCompareFlight">
    <div class="container select-flight">
        <div class="row flex-nowrap scroll-row">
            <div class="col-md-6" th:each="flight : ${flights}">
                <div class="card border border-dark">
                    <div class="mx-2 card-body">
                        <div class="d-flex justify-content-center my-2 ">

                            <img style="height: 96px;" th:if="${'Vietnam Airline'.equals(flight.airlineName)}"
                                 src="/user/icon/vietnam-airline-logo.jpg">
                            <img style="height: 96px;" th:if="${'Jetstar Pacific Airlines'.equals(flight.airlineName)}"
                                 src="/user/icon/jetstar-logo-inkythuatso-14-10-44-31.jpg">
                            <img style="height: 96px;" th:if="${'Vietjet Air'.equals(flight.airlineName)}"
                                 src="/user/icon/VietJet_Air-Logo.wine.png">
                            <img style="height: 96px;" th:if="${'Bamboo Airways'.equals(flight.airlineName)}"
                                 src="/user/icon/logo-bamboo-airways-inkythuatso-13-16-26-24.jpg">

                        </div>
                        <div class="flight-info">
                            <div class="d-flex flex-column">
                                <h3 th:text="${flight.departureIATA}">
                                </h3>
                                <h6 th:text="${flight.departureAirportCity}">
                                </h6>
                                <h6 th:text="${#temporals.format(flight.departureTime, 'HH:mm')}">
                                </h6>
                                <h6 th:text="${#temporals.format(flight.departureTime, 'dd/MM/yyyy')}">
                                </h6>
                            </div>

                            <div>
                                <img src="/user/icon/icon_flight.c92d4c69.png">
                            </div>


                            <div class="d-flex justify-content-center flex-column">
                                <h3 th:text="${flight.arrivalIATA}">
                                </h3>
                                <h6 th:text="${flight.arrivalAirportCity}">
                                </h6>
                                <h6 th:text="${#temporals.format(flight.arrivalTime, 'HH:mm')}">
                                </h6>
                                <h6 th:text="${#temporals.format(flight.arrivalTime, 'dd/MM/yyyy')}">
                                </h6>
                            </div>

                        </div>
                        <div class="d-flex">
                            <p class="me-3">Mã chuyến bay: </p>
                            <p th:text="${flight.flightCode}"></p>
                        </div>
                        <div class="d-flex">
                            <p class="me-3">Thời gian bay: </p>
                            <p th:text="${flight.flightTime}"></p>
                        </div>
                        <div class="info-select-flight">
                            <div class="d-flex">
                                <p class="me-3">Giá vé người lớn:</p>
                                <p th:text="${flight.price} + 'VNĐ'"></p>
                            </div>
                            <p>Giá vé em bé: 100,000 VNĐ</p>
                            <p>Thuế: O VNĐ</p>
                            <p>Dịch vụ: 0 VNĐ</p>
                            <p>Hành lý: Hành lý xách tay 10kg.</p>
                        </div>

                        <th:block th:if="${'Bamboo Airways'.equals(flight.airlineName)}"
                                  th:insert="~{user/service/bamboo::bamboo}"></th:block>
                        <th:block th:if="${'Jetstar Pacific Airlines'.equals(flight.airlineName)}"
                                  th:insert="~{user/service/jestart::jestart}"></th:block>
                        <th:block th:if="${'Vietjet Air'.equals(flight.airlineName)}"
                                  th:insert="~{user/service/vietjet_air::vietjet}"></th:block>
                        <th:block th:if="${'Vietnam Airline'.equals(flight.airlineName)}"
                                  th:insert="~{user/service/vietnam_airline::vietnam_airline}"></th:block>

                        <!--                        <div class="scroll-div">-->
                        <!--                            <h5 class="card-title my-2 ">Bao gồm: </h5>-->
                        <!--                            <p class="text-muted mb-2">-->
                        <!--                                <i class="fas fa-check text-success me-3"></i> Hành lý xách tay: 10kg-->
                        <!--                            </p>-->
                        <!--                            <p class="text-muted mb-2">-->
                        <!--                                <i class="fas fa-check text-success me-3"></i> Hành lý ký gửi: 50kg cho đường bay Úc,-->
                        <!--                                Kazakhstan; 30kg cho các đường bay còn lại và 01 bộ dụng cụ chơi golf (nếu có)-->
                        <!--                            </p>-->

                        <!--                            <p class="text-muted mb-2">-->
                        <!--                                <i class="fas fa-check text-success me-3"></i> Ưu tiên làm thủ tục trước chuyến bay-->
                        <!--                            </p>-->

                        <!--                            <p class="text-muted mb-2">-->
                        <!--                                <i class="fas fa-check text-success me-3"></i> Ưu tiên phục vụ hành lý-->
                        <!--                            </p>-->

                        <!--                            <p class="text-muted mb-2">-->
                        <!--                                <i class="fas fa-check text-success me-3"></i> Ưu tiên qua cửa an ninh (tùy theo điều-->
                        <!--                                kiện-->
                        <!--                                từng sân bay)-->
                        <!--                            </p>-->

                        <!--                            <p class="text-muted mb-2">-->
                        <!--                                <i class="fas fa-check text-success me-3"></i> Phục vụ đưa đón riêng ra tàu bay (áp dụng-->
                        <!--                                trường hợp tàu bay đậu bãi; không áp dụng đối với sân bay không cung cấp dịch vụ xe đưa-->
                        <!--                                đón-->
                        <!--                                riêng)-->
                        <!--                            </p>-->

                        <!--                            <p class="text-muted mb-2">-->
                        <!--                                <i class="fas fa-check text-success me-3"></i> Ưu tiên chọn chỗ ngồi trên tàu bay (không-->
                        <!--                                áp-->
                        <!--                                dụng các hàng ghế dành cho khách Business)-->
                        <!--                            </p>-->

                        <!--                            <p class="text-muted mb-2">-->
                        <!--                                <i class="fas fa-check text-success me-3"></i> Thưởng thức ẩm thực tươi ngon suốt chuyến-->
                        <!--                                bay-->
                        <!--                            </p>-->

                        <!--                            <p class="text-muted mb-2">-->
                        <!--                                <i class="fas fa-check text-success me-3"></i> Bộ tiện ích (chuyến bay từ 04 tiếng trở-->
                        <!--                                lên)-->
                        <!--                            </p>-->

                        <!--                            <p class="text-muted mb-2">-->
                        <!--                                <i class="fas fa-check text-success me-3"></i> Hoàn bảo lưu định danh tiền vé trong vòng-->
                        <!--                                02-->
                        <!--                                (hai) năm kể từ ngày khởi hành dự kiến-->
                        <!--                            </p>-->

                        <!--                            <p class="text-muted mb-2">-->
                        <!--                                <i class="fas fa-check text-success me-3"></i> Bảo hiểm Sky Care (chỉ áp dụng các chuyến-->
                        <!--                                bay-->
                        <!--                                Vietjet khai thác), quyền lợi bồi thường khi chuyến bay khởi hành trễ, hành lý ký gửi-->
                        <!--                                đến-->
                        <!--                                trễ, hư hỏng/mất mát.-->
                        <!--                            </p>-->

                        <!--                            <a href="/policy/chinh-sach-dat-ve" class="text-muted mb-2">-->
                        <!--                                Xem quy định về giá vé-->
                        <!--                            </a>-->
                        <!--                        </div>-->
                    </div>
                    <div class="card-footer">
                        <div class="d-flex align-items-center gap-2 flex-column">
                            <label>Đã chọn</label>
                            <input type="radio" checked>
                        </div>
                    </div>
                </div>
            </div>
            <!--            <div class="col-md-6">-->
            <!--                <div class="card">-->
            <!--                    <div class="mx-2 card-body">-->
            <!--                        <div class="d-flex justify-content-center my-2 "><img style="height: 96px;"-->
            <!--                                                                              src="/user/icon/VietJet_Air-Logo.wine.png">-->
            <!--                        </div>-->
            <!--                        <div class="d-flex justify-content-center flight-info ">-->
            <!--                            <div class="d-flex flex-column">-->
            <!--                                <h3>-->
            <!--                                    SGN-->
            <!--                                </h3>-->
            <!--                                <h6>-->
            <!--                                    Tp. Hồ Chí Minh-->
            <!--                                </h6>-->
            <!--                                <h6>-->
            <!--                                    05:00,-->
            <!--                                </h6>-->
            <!--                                <h6>-->
            <!--                                    21/05/2025-->
            <!--                                </h6>-->
            <!--                            </div>-->

            <!--                            <div>-->
            <!--                                <img src="/user/icon/icon_flight.c92d4c69.png">-->
            <!--                            </div>-->

            <!--                            <div class="d-flex justify-content-center flex-column">-->
            <!--                                <h3>-->
            <!--                                    HAN-->
            <!--                                </h3>-->
            <!--                                <h6>-->
            <!--                                    Hà Nội-->
            <!--                                </h6>-->
            <!--                                <h6>-->
            <!--                                    07:10,-->
            <!--                                </h6>-->
            <!--                                <h6>-->
            <!--                                    21/05/2025-->
            <!--                                </h6>-->
            <!--                            </div>-->
            <!--                        </div>-->

            <!--                        <div>-->
            <!--                            <p>Thời gian bay: 2 giờ 10 phút</p>-->
            <!--                        </div>-->
            <!--                        <div class="info-select-flight">-->
            <!--                            <p>Giá vé người lớn: 1,500,000 VNĐ </p>-->
            <!--                            <p>Giá vé em bé: 100,000 VNĐ</p>-->
            <!--                            <p>Thuế: O VNĐ</p>-->
            <!--                            <p>Dịch vụ: 0 VNĐ</p>-->
            <!--                            <p>Hành lý: Hành lý xách tay 10kg.</p>-->
            <!--                        </div>-->
            <!--                        <div class="scroll-div">-->

            <!--                            <h5 class="card-title my-2 ">Bao gồm: </h5>-->
            <!--                            <p class="text-muted mb-2">-->
            <!--                                <i class="fas fa-check text-success me-3"></i> Hành lý xách tay: 07Kg.-->
            <!--                            </p>-->
            <!--                            <p class="text-muted mb-2">-->
            <!--                                <i class="fas fa-check text-success me-3"></i> Bảo hiểm Sky Care (chỉ áp dụng các chuyến-->
            <!--                                bay-->
            <!--                                Vietjet khai thác), quyền lợi bồi thường khi chuyến bay khởi hành trễ, hành lý ký gửi-->
            <!--                                đến-->
            <!--                                trễ, hư hỏng/mất mát.-->
            <!--                            </p>-->
            <!--                            <h5 class="card-title my-2 ">Chưa bao gồm: </h5>-->
            <!--                            <p class="text-muted mb-2">-->
            <!--                                <i class="fas fa-solid fa-circle-xmark  me-3" style="color: red;"></i> Hành lý ký gửi-->
            <!--                                (tùy-->
            <!--                                chọn)-->
            <!--                            </p>-->

            <!--                            <p class="text-muted mb-2">-->
            <!--                                <i class="fas fa-solid fa-circle-xmark  me-3" style="color: red;"></i> Suất ăn-->
            <!--                            </p>-->

            <!--                            <p class="text-muted mb-2">-->
            <!--                                <i class="fas fa-solid fa-circle-xmark  me-3" style="color: red;"></i> Bộ tiện ích 3-->
            <!--                                trong 1-->
            <!--                            </p>-->

            <!--                            <p class="text-muted mb-2">-->
            <!--                                <i class="fas fa-solid fa-circle-xmark  me-3" style="color: red;"></i> Chọn trước chỗ-->
            <!--                                ngồi-->
            <!--                            </p>-->

            <!--                            <p class="text-muted mb-2">-->
            <!--                                <i class="fas fa-solid fa-circle-xmark  me-3" style="color: red;"></i> Thay đổi chuyến-->
            <!--                                bay,-->
            <!--                                ngày bay, hành trình-->
            <!--                            </p>-->

            <!--                            <p class="text-muted mb-2">-->
            <!--                                <i class="fas fa-solid fa-circle-xmark  me-3" style="color: red;"></i>Chênh lệch tiền vé-->
            <!--                                khi-->
            <!--                                thay đổi (nếu có)-->
            <!--                            </p>-->

            <!--                            <a href="/policy/chinh-sach-dat-ve" class="text-muted mb-2">-->
            <!--                                Xem quy định về giá vé-->
            <!--                            </a>-->
            <!--                        </div>-->
            <!--                    </div>-->

            <!--                    <div class="card-footer">-->
            <!--                        <div class="d-flex align-items-center gap-2 flex-column">-->
            <!--                            <label>Chọn chuyến này</label>-->
            <!--                            <input type="radio">-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            <div class="col-md-6">-->
            <!--                <div class="card">-->
            <!--                    <div class="mx-2 card-body">-->
            <!--                        <div class="d-flex justify-content-center my-2 "><img style="height: 96px;"-->
            <!--                                                                              src="/user/icon/logo-bamboo-airways-inkythuatso-13-16-26-24.jpg">-->
            <!--                        </div>-->
            <!--                        <div class="d-flex justify-content-center flight-info">-->
            <!--                            <div class="d-flex flex-column">-->
            <!--                                <h3>-->
            <!--                                    SGN-->
            <!--                                </h3>-->
            <!--                                <h6>-->
            <!--                                    Tp. Hồ Chí Minh-->
            <!--                                </h6>-->
            <!--                                <h6>-->
            <!--                                    05:00,-->
            <!--                                </h6>-->
            <!--                                <h6>-->
            <!--                                    21/05/2025-->
            <!--                                </h6>-->
            <!--                            </div>-->
            <!--                            <div>-->
            <!--                                <img src="/user/icon/icon_flight.c92d4c69.png">-->
            <!--                            </div>-->
            <!--                            <div class="d-flex justify-content-center flex-column">-->
            <!--                                <h3>-->
            <!--                                    HAN-->
            <!--                                </h3>-->
            <!--                                <h6>-->
            <!--                                    Hà Nội-->
            <!--                                </h6>-->
            <!--                                <h6>-->
            <!--                                    07:10,-->
            <!--                                </h6>-->
            <!--                                <h6>-->
            <!--                                    21/05/2025-->
            <!--                                </h6>-->
            <!--                            </div>-->
            <!--                        </div>-->
            <!--                        <div>-->
            <!--                            <p>Thời gian bay: 2 giờ 10 phút</p>-->
            <!--                        </div>-->
            <!--                        <div class="info-select-flight">-->
            <!--                            <p>Giá vé người lớn: 1,500,000 VNĐ </p>-->
            <!--                            <p>Giá vé em bé: 100,000 VNĐ</p>-->
            <!--                            <p>Thuế: O VNĐ</p>-->
            <!--                            <p>Dịch vụ: 0 VNĐ</p>-->
            <!--                            <p>Hành lý: Hành lý xách tay 10kg.</p>-->
            <!--                        </div>-->
            <!--                        <div class="scroll-div">-->
            <!--                            <h5 class="card-title my-2 ">Bao gồm: </h5>-->
            <!--                            <p class="text-muted mb-2">-->
            <!--                                <i class="fas fa-check text-success me-3"></i> Hành lý xách tay: 10kg cho đường bay Úc,-->
            <!--                                Kazakhstan; 07kg cho các đường bay còn lại.-->
            <!--                            </p>-->
            <!--                            <p class="text-muted mb-2">-->
            <!--                                <i class="fas fa-check text-success me-3"></i> 40kg cho đường bay Úc, Kazakhstan; 20kg-->
            <!--                                cho-->
            <!--                                các đường bay còn lại.-->
            <!--                            </p>-->

            <!--                            <p class="text-muted mb-2">-->
            <!--                                <i class="fas fa-check text-success me-3"></i> Suất ăn & nước uống cho đường bay Úc,-->
            <!--                                Kazakhstan.-->
            <!--                            </p>-->

            <!--                            <p class="text-muted mb-2">-->
            <!--                                <i class="fas fa-check text-success me-3"></i> Chọn trước chỗ ngồi yêu thích (khi còn-->
            <!--                                chỗ,-->
            <!--                                không áp dụng các hàng ghế dành cho SkyBoss và Business)-->
            <!--                            </p>-->

            <!--                            <p class="text-muted mb-2">-->
            <!--                                <i class="fas fa-check text-success me-3"></i> Bảo hiểm Sky Care (chỉ áp dụng các chuyến-->
            <!--                                bay-->
            <!--                                Vietjet khai thác), quyền lợi bồi thường khi chuyến bay khởi hành trễ, hành lý ký gửi-->
            <!--                                đến-->
            <!--                                trễ, hư hỏng/mất mát.-->
            <!--                            </p>-->
            <!--                            <h5 class="card-title my-2 ">Chưa bao gồm: </h5>-->

            <!--                            <p class="text-muted mb-2">-->
            <!--                                <i class="fas fa-solid fa-circle-xmark  me-3" style="color: red;"></i> Bộ tiện ích 3-->
            <!--                                trong 1-->
            <!--                            </p>-->
            <!--                            <a href="/policy/chinh-sach-dat-ve" class="text-muted mb-2">-->
            <!--                                Xem quy định về giá vé-->
            <!--                            </a>-->
            <!--                        </div>-->
            <!--                    </div>-->

            <!--                    <div class="card-footer">-->
            <!--                        <div class="d-flex align-items-center gap-2 flex-column">-->
            <!--                            <label>Chọn chuyến này</label>-->
            <!--                            <input type="radio">-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
        </div>
    </div>
</th:block>