<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vietjet Air | Bay là thích ngay | Website chính thức</title>
    <link rel="stylesheet" type="text/css" media="all" href="/user/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.min.css">
    <link href="https://fonts.googleapis.com/css2?family=KoHo&display=swap" rel="stylesheet">
    <link rel="icon" href="/user/icon/favicon.ico">
    <link rel="stylesheet" href="/user/css/style.css">
</head>
<body>
<main class="py-0">
    <!--Header-->
    <th:block th:replace="~{user/layouts/header::header}"></th:block>
<div class="container container-policy mt-5">
        <div id="content_0_columncontent" class="tpl_container <%= tplType%> cms-rich-text-editor column_content_news<%= randomNumber%> ">
            <div class="tpl_heading">
                <h1 class="title" >Chính sách bảo vệ khách hàng</h1>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p>VietjetAir luôn mong muốn đem đến cho hành khách những trải nghiệm tuyệt vời với dịch vụ an toàn và thuận tiện. Vì lợi ích của hành khách, chúng tôi cung cấp các thông tin về Chính sách bảo vệ hành khách khi thực hiện các chuyến bay cùng VietjetAir như sau:</p>
                    <p><strong>1.&nbsp;</strong><strong>Trường hợp số lượng </strong><strong>hành</strong><strong> </strong><strong>khách làm thủ tục lên tầu nhiều hơn so với số ghế thực tế của máy bay</strong></p>
                    <p>Trong một số trường hợp, chúng tôi không thể cung cấp chỗ ngồi cho hành khách mặc dù hành khách đã có vé và làm thủ tục lên máy bay. Trường hợp này xảy ra nếu số lượng hành khách làm thủ tục vượt quá số ghế thực tế của máy bay.</p>
                    <p>Nếu hành khách chủ động&nbsp;nhường chỗ cho hành khách khác hoặc bị từ chối lên máy bay, chúng tôi sẽ đền bù và thu xếp chuyến bay thay thế. Chúng tôi sẽ thông báo đến hành khách giải thích các quyền lợi và đền bù theo chính sách của VietjetAir trừ các trường hợp được miễn trừ bồi thường theo quy định của pháp luật.</p>
                    <p>Các chính sách và thủ tục mà chúng tôi thực hiện đảm bảo hành khách được đối xử công bằng và hợp lý.</p>
                    <p><strong>2. Các trách nhiệm đối với </strong><strong>hành</strong><strong> lý bị hỏng hóc</strong></p>
                    <p>Nếu hành lý kí gửi của hành khách bị hư hỏng hoặc thất lạc, hãy điền các thông tin cần thiết vào bản khai báo tại Quầy hành lý bị thất lạc trong thời gian sớm nhất. </p>
                    <p>Trách nhiệm của chúng tôi đối với hành lý và hàng hóa bị hư hỏng được nêu rõ tại Điều 16 của <span style="text-decoration: underline;"><a href="/vi/legal/conditions-of-carriage">Điều lệ vận chuyển Hành khách</a></span> và Chương VIII của <span style="text-decoration: underline;"><a href="/vi/cargo/e-booking/general-conditions-of-cargo-cariage" target="_blank">Điều lệ vận chuyển hàng hóa</a>.</span></p>
                    <p><strong>3. Cung cấp thông tin về Hoàn/Hủy đổi vé</strong><strong>/thay đổi hành trình</strong><strong></strong></p>
                    <p>Trường hợp muốn hoàn vé, hành khách vui lòng liên lạc với nơi xuất vé để được hỗ trợ.</p>
                    <p>Trường hợp hành khách muốn hoàn vé đã mua trên website&nbsp;của VietjetAir, hành khách vui lòng điền<strong>&nbsp;</strong><strong><a href="/vi/ticket/refund" target="_blank">Mẫu yêu cầu hoàn vé</a></strong>&nbsp;và gửi thư tới địa chỉ&nbsp;<a href="mailto:onlinesupport@vietnamairlines.com">onlinesupport@vietnamairlines.com</a>&nbsp;hoặc liên hệ&nbsp;<a title="các chi nhánh của VietjetAir" href="/vi/customer-supports/worldwide-branches" target="_blank">các chi nhánh của VietjetAir</a>.</p>
                    <p>Nếu hành khách gửi yêu cầu hoàn vé qua thư điện tử, yêu cầu hoàn vé phải được gửi từ địa chỉ thư điện tử mà hành khách đã đăng ký trong quá trình đặt chỗ, mua vé, nếu không yêu cầu hoàn vé của hành khách sẽ không được chấp nhận.&nbsp;</p>
                    <p>Đối với vé thanh toán sau bằng tiền mặt tại các chi nhánh ngân hàng thương mại cổ phần Ngoại thương Việt Nam (VCB), ngân hàng Kỹ thương Việt Nam (TCB), cửa hàng tiện ích (Airpay, Payoo), hành khách vui lòng đến&nbsp;<a href="/vi/support/vietnam-branches" target="_blank">các chi nhánh của VietjetAir&nbsp;tại Việt Nam</a> để hoàn vé.</p>
                    <p>Tùy thuộc vào điều kiện của giá vé, việc hoàn vé của hành khách có thể bị thu phí hoặc không được phép hoàn. Tiền hoàn vé sẽ được chuyển về thẻ hoặc tài khoản hành khách đã sử dụng khi mua vé.</p>
                    <p>Để biết thêm thông tin về hoàn, hủy, đổi vé, thay đổi hành trình xin vui lòng tham khảo thêm <span style="text-decoration: underline;"><a href="/vi/legal/conditions-of-online-booking" target="_blank">Điều khoản mua vé trực tuyến</a></span>.</p>
                    <p><strong>4. VietjetAir đáp ứng các yêu cầu cần thiết trong các trường hợp chuyến bay bất thường</strong></p>
                    <p><strong>4.1. Các dịch vụ cung cấp khi hành khách chưa lên máy bay, áp dụng cho tất cả các chuyến bay do VietjetAir khai thác</strong></p>
                    <p><strong>4.1.1. Các dịch vụ cung cấp tại sân bay</strong></p>
                    <p>Trong thời gian chờ đợi thực hiện chuyến bay tại sân bay, đối với những hành khách có vé đã được xác nhận chỗ nhưng việc vận chuyển bị gián đoan, bị chậm, huỷ chuyến, chúng tôi sẽ phục vụ hành khách một số dịch vụ như sau:</p>
                    <ul>
                        <li>Thời gian chậm từ 01 đến dưới 02 giờ: Phục vụ đồ uống</li>
                        <li>Thời gian chậm từ 02 đến dưới 06 giờ: Phục vụ ăn, uống</li>
                        <li>Thời gian chậm trên 06 giờ: Bố trí khách sạn theo điều kiện thực tế tại Cảng hàng không</li>
                    </ul>
                    <p><strong>4.1.2. Bồi thường cho hành khách&nbsp;</strong></p>
                    <p>Trong trường hợp&nbsp;chậm chuyến kéo dài, hủy chuyến, từ chối vận chuyển trên các chuyến bay xuất phát trong lãnh thổ Việt Nam, hành khách sẽ được bồi thường theo các quy định tại <a href="https://www.vietnamairlines.com/~/media/FilesDownload/Customer-service-plan/C%C3%B4ng-b%C3%A1o-927-928-13Aug2023.pdf" target="_blank">Công báo số 927 &amp; 928 ngày 13 tháng 8 năm 2023</a>.</p>
                    <p>Đối với&nbsp;các chuyến bay ngoài lãnh thổ Việt Nam, sẽ theo quy định của nước sở tại hoặc quy định của chúng tôi.</p>
                    <p>Việc bồi thường sẽ được thực hiện tại sân bay hoặc các chi nhánh của VietjetAir tùy từng trường hợp cụ thể. Chúng tôi sẽ thực hiện bồi thường bằng một trong các phương thức sau: Tiền mặt, chuyển khoản, chứng từ thanh toán hoặc các dịch vụ do VietjetAir cung cấp trên cơ sở thỏa thuận với hành khách.</p>
                    <p>Hành khách vui lòng gửi văn bản yêu cầu trong thời hạn 90 ngày kể từ ngày chuyến bay dự kiến cất cánh nếu hành khách chưa nhận được bồi thường hoặc cho rằng mức bồi thường không đúng với quy định pháp luật. Chúng tôi sẽ trả lời hoặc thực hiện bồi thường trong vòng 7 ngày kể từ ngày nhận được văn bản.</p>
                    <p><strong>4.1.3. Các trường hợp miễn trừ trách nhiệm</strong></p>
                    <p>Theo quy định của chính phủ Việt Nam và các nước sở tại, VietjetAir sẽ được miễn trừ nghĩa vụ bồi thường trong các trường hợp sau:</p>
                    <ul>
                        <li>Chuyến bay bị chậm, hủy vì lý do bất khả kháng như ảnh hưởng của thời tiết, theo yêu cầu của nhà chức trách, an ninh hàng không, xung đột vũ trang, kết cấu hạ tầng...</li>
                        <li>Nếu chúng tôi có thể chứng minh được đã thông báo cho hành khách về việc chậm, huỷ chuyến ít nhất 24 giờ trước giờ cất cánh dự kiến theo lịch hoặc hành khách không đăng ký địa chỉ liên lạc; hoặc không liên hệ được với hành khách theo địa chỉ đã đăng ký.</li>
                        <li>Miễn trừ bồi thường cho khách bị từ chối trong trường hơp lý do từ hành khách (như tình trạng sức khỏe, dịch bệnh, việc khách không tuân thủ đúng điều lệ/ hợp đồng vận chuyển/ quy định của nhà chức trách…), theo yêu cầu của nhà chức trách, an ninh hàng không...</li>
                        <li>Các trường hợp miễn trừ khác.</li>
                    </ul>
                    <p><strong>4.1.4. Hoàn vé cho khách</strong></p>
                    <p><strong>a. Đối với chuyến bay hoàn toàn nội địa Việt Nam hoặc khởi hành từ Việt Nam đến các điểm quốc tế trừ Mỹ</strong></p>
                    <p>Hành khách sẽ được miễn trừ các điều kiện hạn chế và phí hoàn vé (nếu có) nếu:</p>
                    <p>VietjetAir thay đổi lịch bay ít nhất 1 ngày trước ngày khởi hành dự kiến và chuyến bay bị ảnh hưởng như sau:</p>
                    <ul>
                        <li> Chuyến bay bị chậm/khởi hành sớm làm mất nối chuyến đến điểm dừng tiếp theo trong hành trình và không có phương án thay thế;</li>
                        <li> Chuyến bay bị chậm/khởi hành sớm từ 4 giờ trở lên;</li>
                        <li> Chuyến bay bị hủy và chuyển chuyến bay thay thế có giờ khởi hành muộn/sớm hơn giờ khởi hành cũ từ 4 giờ trở lên.</li>
                        <li> Chuyến bay bị hủy và không có phương án thay thế hoặc phương án thay thế khiến hành trình bị thay đổi;</li>
                        <li> Khách bị từ chối vận chuyển.</li>
                    </ul>
                    <p>VietjetAir thay đổi lịch bay trong vòng 1 ngày trước ngày khởi hành dự kiến và chuyến bay bị ảnh hưởng như sau:</p>
                    <ul>
                        <li> Chuyến bay bị chậm từ 4 giờ trở lên;</li>
                        <li>Chuyến bay bị hủy/khởi hành sớm từ 15 phút trở lên </li>
                        <li>Khách bị từ chối vận chuyển do lỗi của VietjetAir</li>
                    </ul>
                    <p>Trường hợp thay đổi lịch bay ảnh hưởng đến nối chuyến, hành khách sẽ được miễn trừ điều kiện hạn chế và phí hoàn (nếu có) mà không tính đến các giới hạn về thời gian nêu trên.</p>
                    <p>Trường hợp hành khách bỏ chỗ trên chuyến bay và VietjetAir thay đổi lịch bay: </p>
                    <ul>
                        <li>Nếu thông báo thay đổi lịch bay gửi đến hành khách ít nhất 24 giờ trước thời gian khởi hành ban đầu, chính sách hoàn vé sẽ được áp dụng theo điều kiện giá vé.</li>
                        <li>Nếu thông báo thay đổi lịch bay gửi đến hành khách trong vòng 24 giờ trước thời gian khởi hành ban đầu, hành khách được hoàn vé miễn điều kiện hạn chế, phí thay đổi/hoàn, phí no-show và phí xử lý (nếu có).</li>
                    </ul>
                    <p><a href="/vi/customer-supports/worldwide-branches" target="_blank"></a></p>
                    <p>Hành khách tham khảo thêm các quy định liên quan:</p>
                    <ul>
                        <li>Luật Hàng không dân dụng Việt Nam</li>
                        <li>Thông tư 36/2014/TT-BGTVT ngày 29/8/2014 của Bộ Giao thông vận tải quy định chất lượng dịch vụ hành khách tại cảng hàng không</li>
                        <li>Thông tư số 81/2014/TT-BGTVT ngày 30/12/2014 của Bộ Giao thông vận tải quy định về việc vận chuyển hàng không và hoạt động hàng không chung</li>
                        <li>Công báo số 927 &amp; 928 ngày 13 tháng 8 năm 2023 của Bộ Giao thông vận tải quy định về việc bồi thường ứng trước không hoàn lại trong vận chuyển hành khách bằng đường hàng không</li>
                        <li>Quy định&nbsp;EC261/2004 ngày 11/02/2004 quy định chung về bồi thường và trợ giúp hành khách trong trường hợp từ chối vận chuyển, hủy chuyến.</li>
                        <li>Điều lệ vận chuyển hành khách và hành lý của Tổng công ty HKVN.</li>
                    </ul>
                    <p><strong>b. Đối với hành trình khởi hành từ Hàn Quốc</strong></p>
                    <p>Trường hợp yêu cầu hủy đặt chỗ hoặc hoàn vé trong vòng 24 giờ từ thời điểm xuất vé, hành khách được hoàn toàn bộ giá trị vé đã mua, miễn phí hoàn và phí no-show (nếu có), miễn hạn chế về chi hoàn vé.</p>
                    <p>Trường hợp hành khách yêu cầu hủy đặt chỗ hoặc hoàn vé sau 24 giờ tính từ thời điểm xuất vé, chính sách hoàn vé sẽ được áp dụng theo <a href="https://www.vietnamairlines.com/vn/vi/buy-tickets-other-products/fare-conditions/fare-types">Điều kiện giá vé</a>. </p>
                    <p><strong>c. Đối với hành trình từ/đến Mỹ hoặc trong nội địa Mỹ </strong></p>
                    <ul>
                        <li>Trong vòng 24 giờ kể từ thời điểm đặt chỗ (với điều kiện đặt chỗ ít nhất 01 tuần trước thời gian khởi hành): Hành khách được hủy đặt chỗ và chi hoàn toàn bộ giá trị vé đã mua, miễn phí hoàn, miễn điều kiện về chi hoàn vé.</li>
                        <li>Sau 24 giờ tính từ thời điểm đặt chỗ, việc hoàn vé sẽ được tính dựa trên <a href="https://www.vietnamairlines.com/vn/vi/buy-tickets-other-products/fare-conditions/fare-types">Điều kiện giá vé</a>, ngoại trừ các trường hợp sau:</li>
                        <p> - Trường hợp vé có điều kiện không được hoàn và hành khách bị nhà chức trách hạn chế đi lại hoặc được chuyên gia y tế khuyến cáo không thực hiện chuyến bay do mắc bệnh truyền nhiễm nghiêm trọng hoặc vì lý do y tế khác, hành khách được hoàn toàn bộ giá trị vé bao gồm giá vé, thuế/phí/lệ phí, phụ thu hành khách/phụ thu quản trị hệ thống về hình thức thanh toán ban đầu. Hành khách xuất trình lệnh hạn chế đi lại, giấy xác nhận/khuyến cáo hạn chế đi lại của cơ quan y tế có thẩm quyền.</p>
                        <p>- Trường hợp thay đổi do nguyên nhân bất khả kháng, hành khách được hoàn vé, miễn thu phí và điều kiện hạn chế và phí xử lý (nếu có).</p>
                        <p> - Trường hợp VietjetAir thay đổi lịch bay và hành khách không chấp nhận phương án của VietjetAir hoặc đã được đổi không tự nguyện một lần, hành khách được hoàn vé, miễn thu phí và điều kiện hạn chế hoàn (nếu có).</p>
                        <p>- Trường hợp hành khách bỏ chỗ trên chuyến bay và VietjetAir thay đổi lịch bay, hành khách được hoàn vé, miễn thu phí và điều kiện hạn chế (nếu có), phí bỏ chỗ (no-show) và phí xử lý (nếu có).</p>
                    </ul>
                    <p>Thời gian hoàn vé về hình thức thanh toán ban đầu như sau:</p>
                    <p>- Thanh toán bằng thẻ tín dụng: chi hoàn trong vòng 07 ngày làm việc kể từ ngày nhận được yêu cầu hoàn;</p>
                    <p> - Thanh toán bằng tiền mặt hoặc séc: chi hoàn trong vòng 20 ngày theo lịch kể từ ngày nhận được yêu cầu hoàn.</p>
                    <p><strong>4.1.5. Thông tin cá nhân</strong></p>
                    <p>Việc xử lý thông tin cá nhân để thực hiện bồi thường hoặc hoàn vé sẽ tuân thủ các quy định của Đạo luật Bảo vệ dữ liệu cá nhân số 2016/679 của Liên minh Châu Âu (General Data Protection Regulation – GDPR).</p>
                    <p>Khi dữ liệu cá nhân của Quý khách được VietjetAir thu thập, Quý khách vui lòng đọc và chấp thuận Chính Sách Bảo Mật Thông Tin trước khi thực hiện đặt chỗ.</p>
                    <p><strong>4.2. Cung cấp dịch vụ trong trường hơp chậm chuyến sau khi hành khách lên tàu bay đối với các chuyến bay đi/đến Hàn Quốc, Trung Quốc</strong></p>
                    <p>Chúng tôi sẽ nỗ lực hỗ trợ để hành khách cảm thấy thoải mái nếu xảy ra chậm chuyến sau khi hành khách lên tàu bay (chậm đường băng) mặc dù đây là việc rất hiếm xảy ra. Đối với những chuyến bay chậm đường băng tại Hàn Quốc, Trung Quốc (bao gồm Hồng kong, Ma Cao) chúng tôi đảm bảo sẽ cung cấp các dịch vụ sau đây:</p>
                    <p>a. Trường hợp chậm kéo dài từ 2 tiếng trở lên sau khi tàu bay đã rời khỏi nhà ga hoặc đã hạ cánh, chúng tôi sẽ cung cấp nước uống, đồ ăn nhẹ cho hành khách trừ trường hơp cơ trưởng cho rằng dịch vụ này sẽ ảnh hưởng đến an toàn, an ninh.</p>
                    <p>b. Đối&nbsp;với các chuyến bay chậm đường băng từ 30 phút trở lên, chúng tôi sẽ thông báo với hành khách tính trạng của chuyến bay cứ mỗi 30 phút chậm.</p>
                    <p>c. Chúng tôi sẽ không để xảy ra trường hợp hành khách phải ở trên tàu bay trong khi chậm đường băng từ 3 tiếng trở lên tại các sân bay Trung Quốc hoặc 4 tiếng trở lên tại Hàn Quốc. Khi đó, tàu bay sẽ quay trở lại nhà ga để cung cấp cho hành khách một hành trình an toàn, trừ trường hợp:</p>
                    <ul>
                        <li>Cơ trưởng nhận định việc quay tàu bay không đảm bảo an toàn, an ninh cho hành khách (như điều kiện thời tiết, kiểm soát không lưu, quy định của nhà chức trách); hoặc</li>
                        <li> Bộ phận Kiểm soát không lưu cho rằng việc quay trở lại nhà ga hoặc một địa điểm khác sẽ làm ảnh hưởng đến các hoạt động của sân bay</li>
                    </ul>
                    <p>d. Chúng&nbsp;tôi sẽ bố trí nguồn lực đảm bảo thực hiện kế hoạch này.&nbsp;</p>
                    <p>e. Chúng&nbsp;tôi phối hợp cùng với nhà chức trách sân bay và các đơn vị liên quan bao gồm cả cơ quan xuất nhập cảnh xây dựng kế hoạch đảm bảo phục vụ hành khách khi xảy ra chậm đường băng hoặc chậm trên diện rộng.</p>
                    <p>f. Trong&nbsp;trường hợp hành khách đi trên chuyến bay liên danh của VietjetAir, hành khách vẫn được phục vụ các dịch vụ này.&nbsp;
                    </p>
                    <p><strong>5. Thông báo kịp thời về các thay đổi trong hành trình của hành khách</strong></p>
                    <p>Chúng tôi sẽ thông báo kịp thời về các thay đổi liên quan đến chuyến bay của hành khách. Chúng tôi sẽ thông báo cho hành khách về các thay đổi của chuyến bay dựa trên các thông tin liên lạc hành khách đã cung cấp khi đặt chỗ.</p>
                    <p><strong>6. </strong><strong>Cung cấp các thông tin về chính sách khác của VietjetAir</strong></p>
                    <p>Chính sách hành lý được nêu rõ trên website của VietjetAir tại <a href="https://www.vietnamairlines.com/vn/vi/travel-information/baggage" target="_blank">Thông tin hành lý</a>. Mọi thay đổi về chính sách liên quan đến hành lý và phí hành lý được cập nhật thường xuyên trên website của chúng tôi.</p>
                    <p>Trường hợp mua vé liên danh với hãng khác, hành khách vui lòng lưu ý hãng vận chuyển chịu hoàn toàn trách nhiệm với các thủ tục lên tàu và hành khách cần tuân thủ chính sách hành lý của hãng vận chuyển.</p>
                    <p>Sơ đồ ghế ngồi trên máy bay (bao gồm độ ngả lưng ghế, khoảng cách ghế, độ rộng ghế), vị trí cửa thoát hiểm được nêu rõ tại các đường dẫn sau:</p>
                    <ul>
                        <li><a href="/vi/vietnam-airlines/our-fleets" target="_blank">Đội bay</a></li>
                        <li><a href="/vi/plan-book/experience/business-class/seats" target="_blank">Ghế hạng thương gia</a></li>
                        <li><a href="/vi/plan-book/experience/premium-economy-class/seats" target="_blank">Ghế hạng phổ thông đặc biệt</a></li>
                        <li><a href="https://www.vietnamairlines.com/vn/vi/plan-book/experience/economy-class/seats" target="_blank">Ghế hạng phổ thông</a></li>
                    </ul>
                    <p>Thông tin liên quan đến thủ tục lên tàu và các loại thuế, lệ phí, phụ phí liên quan đến vé của hành khách được nêu rõ tại các đường dẫn sau:</p>
                    <ul>
                        <li><a href="https://www.vietnamairlines.com/vn/vi/travel-information/check-in/online-check-in" target="_blank">Làm thủ tục trực tuyến</a></li>
                        <li><a href="https://www.vietnamairlines.com/vn/vi/buy-tickets-other-products/fare-conditions/taxes-fee-charges-surcharges">Thuế, phí, phụ&nbsp;thu</a></li>
                    </ul>
                </div>
            </div>

        </div>
</div>
</main>
<th:block th:replace="~{user/layouts/footer::footer}"></th:block>

<!--</main>-->
<th:block th:replace="~{user/layouts/script::script}"></th:block>
<script src="/user/js/homepage.js"></script>
</body>
</html>