<th:block th:fragment="footer">
    <footer class="footer-root py-3">
        <div class="footer-container">
            <div class="row d-flex justify-content-between">
                <div class="col-2 d-flex justify-content-start flex-column gap-1">
                    <span>Kết nối với Vietjet</span>
                    <div class="social-links d-flex justify-content-start align-items-center gap-1">
                        <div class="icon">
                            <a href="#">
                                <img src="/user/icon/facebook.png" alt="facebook">
                            </a>
                        </div>
                        <div class="icon">
                            <a href="#">
                                <img src="/user/icon/instagram.png" alt="instagram">
                            </a>
                        </div>
                        <div class="icon">
                            <a href="#">
                                <img src="/user/icon/twitter.png" alt="twitter">
                            </a>
                        </div>
                        <div class="icon">
                            <a href="#">
                                <img src="/user/icon/line.png" alt="line">
                            </a>
                        </div>
                        <div class="icon">
                            <a href="#">
                                <img src="/user/icon/wechat.png" alt="wechat">
                            </a>
                        </div>
                        <div class="icon">
                            <a href="#">
                                <img src="/user/icon/zalo.png" alt="zalo">
                            </a>
                        </div>
                        <div class="icon">
                            <a href="#">
                                <img src="/user/icon/youtube.png" alt="youtube">
                            </a>
                        </div>
                    </div>
                    <div class="info-flight d-flex justify-content-start align-items-center gap-2">
                        <span>Cập nhật thông tin chuyến bay Flightradar</span>
                        <img src="/user/icon/flight-rada.38e79fd2.png" alt="flightradar">
                    </div>
                </div>
                <div class="col-2 d-flex justify-content-start flex-column gap-2">
                    <div class="d-flex justify-content-start align-items-center gap-1">
                        <img src="/user/icon/intro.png" alt="logo" style="width: 30px; height: 30px;">
                        <span style="margin-top: 8px;">Hướng dẫn đặt chuyến bay</span>

                    </div>
                    <span>Tải ứng dụng Vietjet Air</span>
                    <div class="d-flex justify-content-start align-items-center gap-2">
                        <img src="/user/icon/apple%20store.png" alt="ios" style="width: 100px; height: 30px;">
                        <img src="/user/icon/google%20play.png" alt="android" style="width: 100px; height: 30px;">
                    </div>
                </div>
                <div class="col-2 d-flex justify-content-start gap-2 ">
                    <img src="/user/icon/pay.png" alt="pay" style="width: 30px; height: 30px;">
                    <span>Hướng dẫn thanh toán</span>
                </div>
                <div class="col-2 d-flex justify-content-start gap-2 flex-column policy-footer">
                    <h5>
                            Chính sách giao dịch
                    </h5>
                    <a href="/policy/chinh-sach-bao-mat-quyen-rieng-tu">
                        <div class="jss801 jss382" style="cursor: pointer;">
                            <div>
                                Chính sách bảo mật quyền riêng tư
                            </div>
                        </div>
                    </a>
                    <a href="/policy/chinh-sach-hanh-ly">
                        <div class="jss801 jss382" style="cursor: pointer;">
                            <div>
                                Chính sách hành lý
                            </div>
                        </div>
                    </a>
                    <a href="/policy/chinh-sach-dat-ve" target="_blank" class="jss802"
                       rel="noopener noreferrer">
                        <div class="MuiTypography-root jss795 MuiTypography-h5">
                            Chính sách đặt vé
                        </div>
                    </a>
                    <a href="/policy/chinh-sach-huy-ve" target="_blank" class="jss802"
                       rel="noopener noreferrer">
                        <div class="MuiTypography-root jss795 MuiTypography-h5">
                            Chính sách hủy vé
                        </div>
                    </a>
                    <a href="/policy/chinh-sach-doi-ve">
                        <div class="jss801 jss382" style="cursor: pointer;">
                            <div>
                                Chính sách đổi vé
                            </div>
                        </div>
                    </a>
                    <a href="/policy/chinh-sach-bao-ve-khach-hang">
                        <div class="jss801 jss382" style="cursor: pointer;">
                            <div>
                                Chính sách bảo vệ khách hàng
                            </div>
                        </div>
                    </a>
                    <a href="/policy/chinh-sach-ho-tro-dac-biet">
                        <div class="jss801 jss382" style="cursor: pointer;">
                            <div>
                                Chính sách hỗ trợ đặc biệt
                            </div>
                        </div>
                    </a>
                    <a href="/policy/kenh-thanh-toan">
                        <div class="jss801 jss382" style="cursor: pointer;">
                            <div>
                                Kênh thanh toán
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-2 d-flex flex-column justify-content-start gap-2">
                    <span style="margin-right: 15px;">CÔNG TY CỔ PHẦN HÀNG KHÔNG VIETJET</span>
                    <span>302/3 Phố Kim Mã, Phường Ngọc Khánh, Quận Ba Đình, TP. Hà Nội, Việt Nam.</span>
                    <img src="/user/icon/confirm.webp" alt="confirm" style="width: 100px; height: 30px;">
                </div>
            </div>
        </div>
    </footer>
</th:block>