<th:block th:fragment="head (title)">
    <head>
        <meta charset="UTF-8">
        <title th:text="${title}"></title>
        <link rel="stylesheet" type="text/css" media="all" href="/user/plugins/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.min.css">
        <link href="https://fonts.googleapis.com/css2?family=KoHo&display=swap" rel="stylesheet">
        <link rel="icon" href="/user/icon/favicon.ico">
        <link rel="stylesheet" href="/user/css/style.css">
        <link rel="stylesheet" href="/user/css/reset.css">
        <link rel="stylesheet" href="/user/css/chat.css">
        <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.6.1/dist/sockjs.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
    </head>
</th:block>