<th:block th:fragment="modalSuccess">
  <div class="modal fade" id="successModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" th:text="#{notification}">Thông báo</h4>
        </div>
        <div class="modal-body">
          <p th:text="${message}"></p> <!-- Dùng biến `message` từ controller -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">Đóng</button>
        </div>
      </div>
    </div>
  </div>
</th:block>