<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thêm Nhân Viên</title>
    <link rel="stylesheet" type="text/css" media="all" href="/user/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/admin/css/style.css}">
</head>
<body>
<!--sidebar-->
<div th:replace="~{admin/sidebar/sidebar :: adminSidebar}"></div>

<!--mainContend-->
<div class="main-content container" style="margin-top: 100px;" id="mainContent">
    <h2 class="text-center">QUẢN LÝ KHÁCH HÀNG</h2>
    <h4 class="text-center mb-4">THÊM KHÁCH HÀNG</h4>
    <form th:action="@{/admin/customer/create}" th:object="${user}" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6 form-group">
                <label class="form-label">Họ và tên</label>
                <input required type="text" class="form-control" th:field="*{fullName}"
                       th:classappend="${#fields.hasErrors('fullName')} ? 'is-invalid'">
                <strong th:text="${listErrorMes.containsKey('fullName') ? 'Tên không được để trống' : ''}"
                        class="invalid-feedback d-block">
                </strong>
            </div>

            <div class="col-md-6 form-group">
                <label class="form-label">Giới tính</label>
                <select class="form-control" th:field="*{gender}">
                    <option value="Male" th:selected="*{gender == 'Male'}">Nam</option>
                    <option value="Female" th:selected="*{gender == 'Female'}">Nữ</option>
                    <option value="Other" th:selected="*{gender == 'Other'}">Khác</option>
                </select>
            </div>

            <div class="col-md-6 form-group">
                <label class="form-label">Email</label>
                <input required type="text" class="form-control" th:field="*{email}"
                       th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'">
                <strong th:text="${listErrorMes.containsKey('email') ? 'Email không đúng định dạng hoặc đã tồn tại!' : ''}"
                        class="invalid-feedback d-block">
                </strong>
            </div>


            <div class="col-md-6 form-group">
                <label class="form-label">Ngày sinh</label>
                <input type="date" class="form-control" th:field="*{dob}">
                <div class="invalid-feedback" th:errors="*{dob}"></div>
            </div>


            <div class="col-md-6 form-group">
                <label class="form-label">Địa chỉ</label>
                <input type="text" class="form-control" th:field="*{address}">
                <div class="invalid-feedback" th:errors="*{address}"></div>
            </div>

            <div class="col-md-6 form-group">
                <label class="form-label">Quốc tịch</label>
                <select class="form-select" th:field="*{nationality}" name="dob">
                    <option value="">-- Chọn quốc gia --</option>
                    <th:block th:each="country : ${countries}">
                        <option th:value="${country.niceName}" th:text="${country.niceName}"></option>
                    </th:block>
                </select>
                <div class="invalid-feedback" th:errors="*{nationality}"></div>
            </div>


            <div class="col-md-6 form-group">
                <label th:for="phone" class="form-label">Điện thoại</label>
                <input type="text" class="form-control" th:field="*{phone}"
                       th:classappend="${#fields.hasErrors('phone')} ? 'is-invalid'">
                <div class="invalid-feedback" th:errors="*{phone}"></div>
            </div>

            <div class="col-md-6 form-group">
                <label th:for="phone" class="form-label">CCCD - Passport</label>
                <input type="text" class="form-control" th:field="*{citizenIdentification}"
                       th:classappend="${#fields.hasErrors('citizenIdentification')} ? 'is-invalid'">
                <div class="invalid-feedback" th:errors="*{citizenIdentification}"></div>
            </div>
            <div class="col-md-6 form-group">
                <div class="custom-file">
                    <label class="custom-file-label form-label" for="inputGroupFile">Vui lòng chọn ảnh</label>
                    <input type="file" class="custom-file-input p-1" id="inputGroupFile" name="imageFile"
                           onchange="previewImage(event)">
                </div>
            </div>
        </div>

        <div class="btn-action mt-3 text-center">
            <a th:href="@{/admin/customer}" class="btn">Quay lại</a>
            <button type="submit" class="btn">Lưu</button>
        </div>
    </form>

</div>

<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

<script>
    function previewImage(event) {
        const img = document.getElementById('previewImage');
        img.src = URL.createObjectURL(event.target.files[0]);
        img.style.display = 'block';
    }

    document.querySelector('input[name="imageFile"]').addEventListener('change', previewImage);
</script>
</body>
</html>
