
.table th, button {
    background-color: red;
    color: white;
    border: solid 1px red ;
    border-radius: 6px;
}

.export-button {
    cursor: pointer;
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.chart-container {
    position: relative;
    height: 500px;
}
